@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=M+PLUS+2:wght@100..900&display=swap');

:root {
    --background: #18111B;      /* 1 */
    --foreground: #1E1523;      /* 2 */

    --muted: ;
    --muted-foreground: ;

    --accent: ;
    --accent-foreground: ;

    --popover: ;
    --popover-foreground: ;

    --border: #54346B;          /* 6 */
    --input: ;

    --card: #301C3B;            /* 3 */
    --card-foreground: #3D224E; /* 4 */

    --primary: #ECD9FA;
    --primary-foreground: #D19DFF;

    --secondary: ;
    --secondary-foreground: ;

    --destructive: ;
    --destructive-foreground: ;

    --ring: #664282;            /* 7 */

    --radius: 0.5rem;
}

/* Basic reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1E1523;
    color: var(--primary);
}

body {
    font-size: 1rem; /* Sets a base font-size for rem units */
}

h1, h2, h3, h4, h5, h6 {
    font-family: Catamaran;
}

p, .skill, a {
    font-family: 'M PLUS 2';
}

.header {
    font-family: Catamaran;
    width: 100%;
    padding: 0.5rem 2%;
}

.header .container {
    display: flex; /* Use flexbox to place logo and navbar side by side */
    justify-content: space-between; /* Distribute space between logo and navbar */
    align-items: center; /* Align them vertically in the middle */
    height: 3rem; /* Set a height for the container */
    width: 100%;
    padding: 0.5rem 1%; /* Padding on the left and right */
}

/* -------------------------------------------------- */
/* ---------------------- Logo ---------------------- */
/* -------------------------------------------------- */

body .header .logo{
    z-index: 3;
    height: 3rem;
    border-radius: 0.5rem;
}

body .header .logo a {
    display: flex;
    border-radius: 0.5rem;
}

body .header .logo a:hover {
    opacity: 0.7;
    transition: ease 0.3s;
}

body .header .logo a img {
    max-width: 100%;
    max-height: 100%;
    width: 3rem;
    border-radius: 0.5rem;
}

/* -------------------------------------------------- */
/* --------------------- NavBar --------------------- */
/* -------------------------------------------------- */
.navbar {
    z-index: 0;
    display: grid;
    justify-content: right;
    border-bottom: solid 0.1rem var(--border);
}

.navbar a {
    display: flex;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: var(--foreground); /* #9A5CD0 */ 
}

.navbar .onglets {
    display: flex;
}

.navbar .onglets :hover {
    background-color: var(--card);
}

.navbar .onglets img {
    width: 1rem;
    margin-top: 0.4rem;
    margin-left: 0.2rem;
    margin-bottom: 0.4rem;
}

.navbar .onglets img:hover {
    width: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-bottom: none;
}

/* -------------------------------------------------- */
/* ------------------ Text-Header ------------------- */
/* -------------------------------------------------- */

.header .text-header {
    margin-top: 0.5rem;
    min-height: 60rem;
    max-height: 60rem;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 0.1rem var(--primary);
    background-color: transparent;
    overflow: hidden;
}

.header .text-header .links {
    background-color: transparent;
    margin-left: 10rem;
}

.header .text-header .links h1 {
    color: var(--primary);
    text-align: left;
    letter-spacing: 1rem;

    background: linear-gradient(var(--primary), rgba(236, 217, 250, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    background-color: transparent;
}

.header .text-header .links h2 {
    color: var(--primary-foreground);
    text-align: left;
    letter-spacing: 0.5rem;

    -webkit-background-clip: text;
    background-clip: text;
    background-color: transparent;
}

.header .text-header .links .socials {
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    align-items: center;
    background-color: transparent;
}

.header .text-header .links .socials a {
    width: 1.5rem;
    height: 1.5rem;
}

.header .text-header .links .socials a img {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
}

.header .text-header img {
    z-index: 1;
    border-radius: 0.5rem;
    width: 30rem;
    margin-right: 10rem;
}

/* -------------------------------------------------- */
/* ---------------------- Main ---------------------- */
/* -------------------------------------------------- */

main {
    padding-bottom: 1rem;
    margin: 0rem 10rem 0rem 10rem;
}

main .border {
    padding: 1rem 0rem 0rem 0rem;
    margin-top: 2rem;
    border-top: solid 0.2rem var(--border);
}

main img {
    height: 3rem;
}

main h2 {
    margin-left: -5rem;
    margin-right: -5rem;
    text-decoration: underline;
}

main h3 {
    margin-left: -4rem;
    margin-right: -4rem;
}

main h4 {
    margin-left: -3rem;
    margin-right: -3rem;
}

main p {
    margin-left: -2rem;
    margin-right: -2rem;
    text-align: justify;
}

main p i {
    margin-left: -2rem;
    text-align: start;
}

main .cv {
    margin-left: -2rem;
    margin-right: -2rem;
    text-align: justify;
    display: flex;          /* Enable flexbox layout */
    align-items: center;     /* Vertically center the content */
}

/* -------------------------------------------------- */
/* --------------------- Footer --------------------- */
/* -------------------------------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: solid 0.1rem var(--border);
    background-color: var(--background);
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

footer .contacts a {
    text-decoration: none;
    background-color: var(--background);
}

footer .contacts a img {
    height: 1.5rem;
    background-color: var(--background);
}

footer .contacts {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-end;
    background-color: var(--background);
}

@media (max-width: 768px) {
    .skills .categories-container {
        grid-template-columns: 1fr;
    }
}